<div class="card pm-nav-separator">
    <div class="card-header bg-primary text-light">
        {{pageTitle}}
    </div>

    <div class="card-body">
        <form class="form"
              novalidate
              (ngSubmit)="saveProduct()">
            <fieldset *ngIf="product">
                <div class="form-group"
                     [ngClass]="{'has-error': (productNameVar.touched ||
                                               productNameVar.dirty || product.id !== 0) &&
                                               !productNameVar.valid }">
                    <label class="col-md-2 col-form-label font-weight-bold" for="productNameId">Product Name</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="productNameId"
                               type="text"
                               placeholder="Name (required)"
                               required
                               minlength="3"
                               [(ngModel)]=product.productName
                               name="productName"
                               #productNameVar="ngModel" />
                        <span class="help-block" *ngIf="(productNameVar.touched ||
                                                         productNameVar.dirty || product.id !== 0) &&
                                                         productNameVar.errors">
                            <span *ngIf="productNameVar.errors.required">
                                Product name is required.
                            </span>
                            <span *ngIf="productNameVar.errors.minlength">
                                Product name must be at least three characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{'has-error': (productCodeVar.touched ||
                                               productCodeVar.dirty || product.id !== 0) &&
                                               !productCodeVar.valid }">
                    <label class="col-md-2 col-form-label font-weight-bold" for="productCodeId">Product Code</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="productCodeId"
                               type="text"
                               placeholder="Code (required)"
                               required
                               [(ngModel)]=product.productCode
                               name="productCode"
                               #productCodeVar="ngModel" />
                        <span class="help-block" *ngIf="(productCodeVar.touched ||
                                                         productCodeVar.dirty || product.id !== 0) &&
                                                         productCodeVar.errors">
                            <span *ngIf="productCodeVar.errors.required">
                                Product code is required.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 col-form-label font-weight-bold" for="descriptionId">Description</label>

                    <div class="col-md-8">
                        <textarea class="form-control"
                                  id="descriptionId"
                                  placeholder="Description"
                                  rows=3
                                  [(ngModel)]=product.description
                                  name="description">
                        </textarea>
                    </div>
                </div>

                <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary col-3" type="submit"  [disabled]='!editForm.valid'>
                                Save
                            </button>
                        </span>
                        <span>
                            <a class="btn btn-secondary btn-outline-secondary col-3"  (click)="cancel()">
                                Cancel
                            </a>
                        </span>
                        <span>
                            <a class="btn btn-secondary btn-outline-secondary col-3"  (click)="deleteProduct()">
                                Delete
                            </a>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>
